extends toplevel 
block content
    h1= title
    body
        table(class="table")
            tr
                th Username
                th Wins
                th Losses
                th Ties
                th Message
            each user in database
                tr
                    td= user.username
                    td= user.wins
                    td= user.losses
                    td= user.ties
                    td= user.message
                     